<?php
// {{ ansible_managed }}
// extra config file to move files folder out of webroot
define("MY_GLPI_FILES_ROOT","{{ glpi_files_root }}");
define("GLPI_DOC_DIR",MY_GLPI_FILES_ROOT . "/files");
define("GLPI_DUMP_DIR",MY_GLPI_FILES_ROOT . "/files/_dumps");
define("GLPI_CRON_DIR",MY_GLPI_FILES_ROOT . "/files/_cron");
define("GLPI_SESSION_DIR",MY_GLPI_FILES_ROOT . "/files/_sessions");
define("GLPI_PLUGIN_DOC_DIR",MY_GLPI_FILES_ROOT . "/files/_plugins");
define("GLPI_LOCK_DIR",MY_GLPI_FILES_ROOT . "/files/_lock");
define("GLPI_LOG_DIR",MY_GLPI_FILES_ROOT . "/files/_log");
define("GLPI_GRAPH_DIR",MY_GLPI_FILES_ROOT . "/files/_graphs");
define("GLPI_PICTURE_DIR",MY_GLPI_FILES_ROOT . "/files/_pictures");
define("GLPI_TMP_DIR",MY_GLPI_FILES_ROOT . "/files/_tmp");
define("GLPI_RSS_DIR",MY_GLPI_FILES_ROOT . "/files/_rss");
define("GLPI_UPLOAD_DIR",MY_GLPI_FILES_ROOT . "/files/_uploads");
?>
